html {
    height: 100%;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 4em 1fr 3em;
    grid-template-columns: 2fr 4fr 1fr;
    gap: 1em;
    height: inherit;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    --color1: rgba(66, 129, 164, 1);
    --color2: rgba(72, 169, 166, 1);
    --color3: rgba(228, 223, 218, 1);
    --color4: rgba(212, 180, 131, 1);
    --color5: rgba(193, 102, 107, 1);
    background-color: var(--color2);
    color: var(--color1);
}

body > * {
    box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
    border: .5px solid gray;
    background-color: var(--color3);
    padding: 1rem;
}

nav {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    border: .5px solid gray;
    display: flex;
    align-items: center;
    font-family: 'Crete Round', serif;
    font-size: 2em;
    padding: 0;
}

nav > a {
    text-decoration: none;
    margin: 0 1rem 0 1rem;
    color: var(--color5);
}

nav > a:nth-child(1) {
   margin-right: auto; 
}

h1 {
    margin: 0;
}

main {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

aside {
    grid-column: 1 / span 1;
    grid-row: 2 / -1;
}

footer {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

#advertisement {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
}
